		location /phpmyadmin {
			alias /usr/share/phpmyadmin/;
			index index.php;

			location ~ /(libraries|setup|templates|locale) {
				deny   all;
				return 404;
			}

			location ~ /(.+\.(json|lock|md)) {
				deny   all;
				return 404;
			}

			location ~ ^/phpmyadmin/(.*\.php)$ {
				alias         /usr/share/phpmyadmin/$1;
				include       fastcgi_params;
				fastcgi_index index.php;
				fastcgi_param HTTP_EARLY_DATA $rfc_early_data if_not_empty;
				fastcgi_param SCRIPT_FILENAME $request_filename;
				fastcgi_pass  unix:/run/php/www.sock;
			}

			location /phpmyadmin/(.+\.(jpg|jpeg|gif|css|png|webp|js|ico|html|xml|txt))$ {
				root /usr/share/phpmyadmin/;
			}
		}

		location /phppgadmin {
			alias /usr/share/phppgadmin/;
			index index.php;

			location ~ ^/phppgadmin/(.*\.php)$ {
				alias         /usr/share/phppgadmin/$1;
				include       fastcgi_params;
				fastcgi_index index.php;
				fastcgi_param HTTP_EARLY_DATA $rfc_early_data if_not_empty;
				fastcgi_param SCRIPT_FILENAME $request_filename;
				fastcgi_pass  unix:/run/php/www.sock;
			}
		}